# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
.eggs/

# PyInstaller
*.manifest
*.spec.bak

# Virtual environment
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Project specific
.tmp/
*.mp4
*.ts

build.log
